<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tornado4651.lmix.cloud.admin.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.tornado4651.lmix.cloud.admin.domain.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="nickName" column="nickname" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
    </resultMap>

    <resultMap id="loginUserInfoMap" type="com.tornado4651.lmix.cloud.common.dto.UserDTO">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="nickname" column="nickname"/>
        <result property="password" column="password" typeHandler="com.tornado4651.lmix.cloud.data.mybatis.handler.SecurityHandler"/>
        <result property="telephone" column="telephone"/>
        <result property="birthday" column="birthday"/>
        <result property="avatar" column="avatar"/>
        <result property="gender" column="gender"/>
        <result property="status" column="status"/>
        <!-- 角色信息使用 collection 属性来映射一对多关系 -->
        <collection property="roles" ofType="String" column="id" select="getRolesByUserId"/>
    </resultMap>

    <select id="getLoginUserInfo"
            resultType="com.tornado4651.lmix.cloud.common.dto.UserDTO"
            resultMap="loginUserInfoMap">
        <if test="username != null and username != ''">
            select a_user.id, a_user.username, a_user.nickname, a_user.password, a_user.telephone,
                   a_user.birthday, a_user.avatar, a_user.gender, a_user.status
            from a_user
            where a_user.username = #{username};
        </if>
    </select>
    
    <select id="getRolesByUserId" resultType="java.lang.String">
        select name
        from a_role
        join a_user_role on a_role.id = a_user_role.role_id
        where a_user_role.user_id = #{userId};
    </select>
</mapper>
